body{
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #000080;
  background-color: #a5adb0;
  background-image: url('http://www.technocrazed.com/wp-content/uploads/2015/12/New-York-Wallpaper-Background-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.row{
  margin-top: 20px;
}
.col-md-5-offset-2{
  height: 450px;
}
.col-md-5-offset-2:nth-child(1),
.col-md-5-offset-2:nth-child(3),
.col-md-5-offset-2:nth-child(5),
.col-md-5-offset-2:nth-child(7),
.col-md-5-offset-2:nth-child(9){
  background-color: rgba(255,255,255,0.9);
}

.col-md-5-offset-2:nth-child(2),
.col-md-5-offset-2:nth-child(4),
.col-md-5-offset-2:nth-child(6),
.col-md-5-offset-2:nth-child(8),
.col-md-5-offset-2:nth-child(10){
  background-color: rgba(200, 200, 200, 0.9);
}
